<ng-container>
    <!-- Slider main container -->
    <div class="swiper-container" #swiperContainer>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <ng-container *ngFor="let movie of movies">
                <!-- Slides -->
                <div class="swiper-movie-content swiper-slide">
                    <img class="swiper-movie-img" [src]="loadImageMovie(movie.poster_path)" alt="poster movie">
                    <div class="swiper-movie-details">
                        <div class="swiper-movie-header">
                            <h3 class="swiper-movie-title">{{movie.title}}</h3>
                            <button class="btn btn-outline-light btn-sm swiper-movie-button" (click)="onClickMovie(movie)">Review</button>
                        </div>
                        <p class="swiper-movie-description">{{movie.overview | slice:0:180}}...</p>
                    </div>
                </div>
            </ng-container>
        </div>
                
        <!-- If we need navigation buttons -->
        <div class="swiper-button swiper-button-prev" (click)="onSlidePrev()"></div>
        <div class="swiper-button swiper-button-next" (click)="onSlideNext()"></div>

         <!-- If we need scrollbar -->
         <div class="swiper-scrollbar swiper-scrollbar-horizontal"></div>
    </div>
</ng-container>