<ng-container>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <ng-container *ngFor="let movie of movies">
                <!-- Slides -->
                <div class="movie-content swiper-slide">
                    <img class="movie-img" [src]="loadImageMovie(movie.poster_path)" alt="poster movie">
                    <div class="movie-details">
                        <h3 class="movie-title">{{movie.title}}
                            <button class="btn btn-outline-light btn-sm" (click)="onClickMovie(movie)">Review</button>
                        </h3>
                        <p class="movie-description">{{movie.overview | slice:0:200}}...</p>
                    </div>
                </div>
            </ng-container>
        </div>
                
        <!-- If we need navigation buttons -->
        <div class="swiper-button swiper-button-prev" (click)="onSlidePrev()"></div>
        <div class="swiper-button swiper-button-next" (click)="onSlideNext()"></div>
    </div>
</ng-container>