h2 {
    font-size: 1.625rem;
    color: #fff;
}
h3 {
    font-size: 1.375rem;
    color: #fff;
}
.movies-star {
    font-size: 0.875rem;
    color: #fdd90c;
    margin-right: 0.25rem;
}
.swiper-button {
    color: #fff;
    transition: background-color 0.2s ease-in;
}
.swiper-button:hover {
    background-color: #16161691;
}
.swiper-button::after,
.swiper-button::before {
    font-size: 1.625rem;
    font-weight: 700;
}