.movies-poster-title {
    color: #dc3545;
    margin: 38px 0 22px;
    text-align: center;
}
.movies-poster-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dc3545;
    font-size: 46px;
    margin-bottom: 32px;
}