.movies-poster-title {
    color: #dc3545;
    margin: 2.375rem 0 1.375rem;
    text-align: center;
}
.movies-poster-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dc3545;
    font-size: 2.875rem;
    margin-bottom: 2rem;
}
