.movies-poster-title {
    color: #dc3545;
    margin: 2.375rem 0 1.375rem;
    text-align: center;
}
.movies-poster-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dc3545;
    font-size: 2.875rem;
    margin-bottom: 2rem;
}
.button-content {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 0.75rem 0.75rem;
}
.button-to-top {
    border-radius: 50%;
    border-color: transparent;
    background-color: #dc3545;
    color: #fff;
    transition: all 0.2s ease;
}
.button-to-top:hover {
    color: #dc3545;
    background-color: transparent;
    border: 0.125rem solid #dc3545;
}