@import '../../../styles/shared-styles.css';

.swiper-slide {
    width: 7.5rem !important;
    background-color: #fff;
    min-height: 15.625rem;
    height: 100%;
}
.swiper-slide-image-actor {
    min-height: 11.25rem;
}
.swiper-slide img {
    height: 100%;
    width: 100%;
}
.swiper-slide-actor-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 0.625rem 0.5rem;
}
.swiper-slide-actor-name span {
    font-size: 1rem;
}