@import '../../../styles/shared-styles.css';

.swiper-slide {
    width: 9.375rem !important;
    background-color: #fff;
    height: auto;
}
.swiper-slide-image-actor {
    min-height: 13.75rem;
}
.swiper-slide img {
    height: 100%;
    width: 100%;
}
.swiper-slide-actor-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.625rem 0.5rem;
}