.button-content {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}
.button-content button {
    background-color: #dc3545;
}
.show-scrollToTop {
    opacity: 1;
}