
<div class="row">
    <ng-container *ngFor="let movie of posterMovie">
        <div class="col-md-3 mb-5 movies-content">
            <figure class="movies-content-poster">
                <img class="movies-poster img-thumbnail img-fluid" [src]="loadPosterMovie(movie.poster_path)" alt="{{movie.title}}" (click)="onClickMovie(movie)">
            </figure>
            <ng-container *ngIf="movie.vote_average">
                <div class="movies-content-stars">
                    <ng-container *ngFor="let star of getStars(movie.vote_average)">
                        <i class="fas fa-star movies-star"></i>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
