
<div class="row">
    <ng-container *ngFor="let movie of posterMovie">
        <div class="col-md-3 mb-5 movies-content">
            <img class="movies-poster img-thumbnail img-fluid" [src]="loadPosterMovie(movie.poster_path)" alt="{{movie.title}}" (click)="onClickMovie(movie)">
            <div class="row align-items-center movies-details">
                <div class="col-10 text-white movies-detail-stars">
                    <ng-container *ngIf="movie.vote_average">
                        <div class="movies-star-icon">
                            <ng-container *ngFor="let star of getStars(movie.vote_average)">
                                <i class="fas fa-star star"></i>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="col-2 text-white movies-average">
                    <span>{{ movie.vote_average | number:'1.1-2' }}</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>
