.movies-poster {
    color: #fff;
    cursor: pointer;
}
.movies-details {
    padding: 0 12px;
    margin-top: 6px;
}
.movies-details-stars {
    padding: 0;
}
.movies-star-icon .star {
    color: #fdd90c;
    margin-right: 4px;
}