::ng-deep .mat-dialog-container {
    background-color: #1b1b1b;
}
.mat-dialog-title {
    font-size: 1.5rem;
    color: #dc3545;
}
.mat-dialog-content {
    padding: 0;
}
.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}
.mat-dialog-actions button {
    border: 0.0625rem solid #dc3545;
    background-color: #1b1b1b;
    color: #dc3545;
    border-radius: 0.3125rem;
    font-weight: 500;
}
.mat-dialog-actions button:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: transparent;
}