<div class="movie-details">
    <ng-container *ngIf="movie">
        <div class="movie-details-poster">
            <img [src]="loadImageMovie(movie.poster_path)" alt="movie.title">
        </div>
        <div class="movie-details-content">
            <div>
                <h3 class="movie-details-subtitle">{{movie.title}}</h3>
                <div class="movie-details-votes">
                     <div class="movie-details-votes-stars">
                        <ng-container *ngIf="movie.vote_average">
                            <div class="movie-details-votes-icon">
                                <ng-container *ngFor="let star of getStars(movie.vote_average)">
                                    <i class="fas fa-star star"></i>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <div class="movie-details-votes-average">
                        <span>{{ movie.vote_average | number:'1.1-2' }}</span>
                    </div>
                </div>
                <div class="movie-details-overview">
                    <h3 class="movie-details-subtitle">Overview</h3>
                    <div class="movie-details-overview-content">
                        <p class="movie-details-overview-movie">{{movie.overview}}</p>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="director.length > 0 || writer.length > 0">
                <div class="movie-details-data-content">
                    <div class="movie-details-data-crew">
                        <ng-container *ngFor="let director of director">
                            <span class="movie-details-data-job">Director:</span>
                            <span class="movie-details-data-name">{{director.name}}</span>
                        </ng-container>
                    </div>
                    <div class="movie-details-data-crew">
                        <ng-container *ngFor="let writer of writer">
                            <span class="movie-details-data-job">Writer:</span>
                            <span class="movie-details-data-name">{{writer.name}}</span>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <div class="movie-details-button">
                <button class="button btn btn-outline-danger float-right" (click)="buttonReturn()">
                    Back
                </button>
            </div>
        </div>
    </ng-container>
</div>